@model IEnumerable<VideoRent.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Customer</h2>
@if (!Model.Any())
{
    <p class="text-center">We dont have any customer Yet</p>
}
else
{
       <button class="btn btn-primary mb-4">@Html.ActionLink("Add New Customer","New","Customers") </button>
    <div class="d-flex">
        <div class="">Customer</div>
        <div class="">MembershipType <span class="font-weight-bolder">Action</span></div>
    </div>
    foreach (var customer in Model)
    {
        <div class="d-flex">
            <div class="customer">
                @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
            </div>
            <div class="customer">
                @customer.MembershipType.Name
                <button type="button" class="btn btn-primary pl-3">@Html.ActionLink("Edit","Edit","Customers", new { id = customer.Id},null) </button>
            </div>

        </div>

    }
}


